.container{
    display: flex;
    height: 100%;
    background-color:  #e6dfa3;
    justify-content: center;
    padding: 10%;
}

.cadastrar{
    background-color: #717c8b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgb(7, 7, 7);
    width: 300px;
}

input{
    border-radius: 7px;
    margin: 10px;
    padding: 10px;
}

a{
    padding-left: 10px;
    color: rgb(160, 202, 245);
}